* {
    margin: 0px;
    font-family: 'Lato', 'Trebuchet MS', Helvetica, sans-serif;
    scroll-behavior: smooth;
    /* --secondary-color: #1ED269; */
    --secondary-color: #43AA8B;
    --orange: chocolate;
    --orange-hover: #E4843F;
    --blue: #1E87D2;
}

.body-bg {
    background: black;
}

body {
    background-image: url('../img/woman-deciding-what-to-watch.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
    padding-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: white;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
    font-weight: 700;
}

h5 {
    font-size: 1.1rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    margin-bottom: 0;
}

#search-button {
    border-radius: 10px;
    font-weight: 700;
    width: 70px;
    height: 100%;
    color: white;
    background: var(--blue);
    border: none;
}

#search-button:hover {
    border: 1px solid white;
}

#search-button:active {
    background: rgb(39 76 103)
}

#advanced-search-text,
.text-link {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

#advanced-search-text:hover,
.text-link:hover {
    text-decoration: underline;
    color: white;
}

.trailer-btn {
    background: var(--orange);
    width: fit-content;
    color: white;
    font-weight: 700;
}

.trailer-btn:hover {
    /* background: #DD1155; */
    background: #E4843F;
    color: white;
}

.reviews-btn {
    background: var(--secondary-color);
    width: fit-content;
    color: white;
    font-weight: 700;
}

.reviews-btn:hover {
    /* background: #DD1155; */
    background: var(--orange-hover);
    color: white;
}

.navbar-toggler-icon {
    background-image: url('../img/white-hamburger-btn.png');
}

#navbar-toggler-border-color {
    border-color: white;
}

.modal-content {
    border: none;
}

/* Jquery slider */
.ui-widget-header {
    background-color: var(--secondary-color) !important;
}

/* custom filter checkbox */
input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}

input[type=checkbox]:checked+label {
    background: var(--secondary-color);
    color: white;
}

.genre-checkbox {
    padding: 5px 10px;
    border-radius: 12px;
    border: none;
    background: var(--orange);
    color: white;
    cursor: pointer;
    transition: all .3s;
}

.genre-checkbox:hover {
    background: var(--orange-hover)
}

.card-img-resize {
    width: auto;
    height: 500px;
    object-fit: cover;
}

.icon-scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    box-shadow: 1px 1px 5px rgb(252, 221, 221);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* Custom Responsive Screen */

@media (max-width: 1200px) {
    #homepage-bg-img {
        background-attachment: unset;
        background-position-x: -150px;
    }
}

@media (max-width: 1024px) {
    #homepage-bg-img {
        background-position-x: -100px;
    }
}

@media (max-width: 768px) {
    body {
        background-size: auto;
    }
}

@media (max-width: 576px) {
    #homepage-bg-img {
        background-position-x: -175px;
    }
}

#container-reviews {
    margin-left: 100px;
}

#review-content {
    width: 1000px;
}

#input-box-holder {
    display: inline-block;
    width: 500px;
    padding-left: 0px !important;
}

.card {
    margin-top: 20px;
}

.error-message {
    font-size: 20px;
    color: rgb(199, 35, 35);
    font-style: italic;
}

#form-reviews {
    display: flex;
    justify-content: left;
    align-items: center;
}

#movie-poster {
    max-width: 200px;
}

.card-text {

    color: black;
}

#movie-info {
    display: none;
}

#release-date {
    font-size: 15px;
    color: rgb(216, 221, 221);
    line-height: 10px;
    margin-bottom: 10px;
}

#movie-title {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.card-body {
    margin-left: 0px;
}

#poster-container {
    max-width: 220px;
}

#cast {
    color: black;
    margin-top: 10px;
}

.card-review {
    background-color: rgb(237, 245, 248) !important;
}