* {
    margin: 0px;
    font-family: 'Lato', 'Trebuchet MS', Helvetica, sans-serif; /* to test again */
}



body {
    margin-top: 15px;
    background-image: url('/assets/img/woman-lying-in-bed-and-watching-TV.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1, h2, h3, h4, h5{
    color: white;   
}
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

h5 {
    font-size: 1rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    margin-bottom: 0;
    margin-left: 0.5rem;
}
